{{#each bill}}
    <tr>
        <td class="date align-middle">
            <div class="text-muted">{{year}}</div>
            <div class="text-muted font-weight-bold">{{monthName}}</div>
            <div class="text-muted font-weight-bold">{{day}}</div>
        </td>
        <td class="align-middle">{{category}}</td>
        <td class="align-middle">{{recipient}}</td>
        <td class="cena align-middle">
            {{value}} {{currency}}
        </td>
        <td class="zadnji align-middle">
            <button type="button" class="btn p" data-toggle="modal" href="#editForm{{_id}}"><i class="fas fa-pencil-alt"></i></button>
            <form name="deleteForm{{_id}}" method="post" action="/bills">
                <input type="hidden" value="deleteBill" name="formType">
                <input type="hidden" value="{{_id}}" name="id">
                <button type="submit" class="btn edit-btn" data-toggle="modal">
                <i class="fas fa-minus-square hover-red"></i>
                </button>
            </form>
        </td>
    </tr>
{{/each}}
