{{#each bill}}
    <tr>
        <td class="date align-middle">
            <div class="text-muted">{{year}}</div>
            <div class="text-muted font-weight-bold">{{month}}</div>
            <div class="text-muted font-weight-bold">{{day}}</div>
        </td>
        <td class="align-middle">{{category}}</td>
        <td class="align-middle">{{recipient}}</td>
        <td class="cena align-middle">
            {{value}}{{currency}}
        </td>
        <td class="zadnji align-middle">
            <button type="button" class="btn p" data-toggle="modal" href="#editForm{{id}}"><i class="fas fa-pencil-alt"></i></button>
        </td>
    </tr>
{{/each}}
