{{#each Bill}}
    <tr>
        <td class="date align-middle">
            <div class="text-muted">{{Year}}</div>
            <div class="text-muted font-weight-bold">{{Month}}</div>
            <div class="text-muted font-weight-bold">{{Day}}</div>
        </td>
        <td class="align-middle">{{Category}}</td>
        <td class="align-middle">{{Company}}</td>
        <td class="cena align-middle">
            {{Price}}{{Currency}}
        </td>
        <td class="zadnji align-middle">
            <button type="button" class="btn p" data-toggle="modal" href="#editForm"><i class="fas fa-pencil-alt"></i></button>
        </td>
    </tr>
{{/each}}
