{{#each expense}}
    <tr>
    <td class="date align-middle" id="date{{id}}">
        <div class="text-muted" id="year{{id}}">{{year}}</div>
        <div class="text-muted font-weight-bold" id="month{{id}}">{{monthName}}</div>
        <div class="text-muted font-weight-bold" id="day{{id}}">{{day}}</div>
    </td>
    <td class="align-middle" id="category{{id}}">{{category}}</td>
    <td class="align-middle" id="receiver{{id}}">{{recipient}}</td>
    <td class="cena align-middle" id="value{{id}}">
        <span id="price{{id}}">{{value}} </span><span id="currency{{id}}"> {{currency}}</span>
        <input type="hidden" id="color{{id}}" value="{{color}}">
    </td>
    <td class="zadnji align-middle">
        <button type="button" class="btn p" data-toggle="modal" href="#editForm{{id}}"><i class="fas fa-pencil-alt"></i></button>
    </td>
    <div class="modal fade expensesModal" id="editForm{{id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25 toastek">
                <div class="toast ml-auto tt1" role="alert" data-delay="3000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain letters, numbers and some special characters (_@./#&+-: and whitespace). Length allowed: 1-20
                    </div>
                </div>
                <div class="toast ml-auto tt2" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain decimal numbers separated by .  with max 2 decimal places.
                    </div>
                </div> 
                <div class="toast ml-auto tt7" id="date-hint" role="alert" data-delay="3000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Expense can't be in the future.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="signup" method="post" action="/history" onsubmit="return disableButton2('{{id}}')">
                    <input type="hidden" name="id" value="{{id}}">
                    <div class="modal-body">
                        <div class="ena"><label for="inputGoal">Category</label></br>
                            <select name="kategorija" id="inputCategory{{id}}" class="form-control">
                                <option selected>{{category}}</option>
                                {{#each ../categories}}
                                    <option id="categoryName{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="ena">
                            <label for="Payee">Recipient</label><br>
                            <input type="text" id="Payee2{{id}}" name="prejemnik" class="form-control" placeholder="e.g. Elektro Ljubljana d.d." onfocusout="nameAdd2(this)" value="{{recipient}}"required="required">
                            <div id="{{id}}txt"></div>
                        </div>
                        <div class="ena">
                            <label for="Amount">Amount</label><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{../currency}}</span>
                                    </div>
                            <input type="number" id="Amount3{{id}}" name="vsota" class="form-control"  onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount3(this)" placeholder="e.g. $150.30" value="{{value}}" step="any"required="required">
                            <div id="{{id}}amm"></div>
                            </div>
                        </div>
                        <div class="ena">
                            <label for="datum">Date</label><br>
                            <input type="date" id="inputDate{{id}}" name="datumcek" onfocusout="dateCheck2(this)"class="form-control" value="{{year}}-{{month}}-{{day}}"required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="disableButton2('{{id}}')" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</tr>
{{/each}}