{{#each goal}}
<div class="row" id="goal{{_id}}">
    <!---  Row 1 Col 1 --->
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2 goal-col">
        <p class="goal-p">{{title}}</p>
    <div class="w-100"></div>
    <p class="p-date">{{date}}</p>
    </div>

    <!---  Row 1 Col 2 --->
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 goal-col">
    <!---  Progress Bar --->
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:{{progress}}%; height:auto; background-color:{{color}}; border-color: {{color}};" 
        aria-valuenow="{{progress}}"; aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top">
            {{progress}}%
        </div>
    </div>
    </div>
    <!---  Row 1 Col 3 --->
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 goal-col">
        <p class="goal-p">{{targetLeft}}€
            <p style="color: gray; font-family:'Open Sans'; margin-left:2%">
                needed of {{target}}€
                (<b>{{monthlyTarget}}€</b> per day)
            </p>
        </p>
        <form name="deleteForm{{_id}}" method="post" action="/goals">
            <input type="hidden" value="deleteGoal" name="formType">
            <input type="hidden" value="{{_id}}" name="id">
            <button type="submit" class="btn edit-btn" data-toggle="modal" ><i class="fas fa-minus-square"></i></button>
         </form>
        <button type="button" class="btn edit-btn" data-toggle="modal" href="#editForm{{_id}}"><i class="fas fa-pencil-alt"></i></button>
    </div>
</div>
{{/each}}