{{#each envelope}}
    {{#ifEquals month ../setMonth}}
        <div class="row" id="envelope{{id}}">
            <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <h3>{{title}}</h3>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-6">
                <div class="progress" style="background-color:{{bgColor}};">
                    <div class="progress-bar"  role="progressbar" style="width:{{progress}}%; height:auto; background-color:{{color}}; border-color:{{color}};" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top">
                        {{progress}}%
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4 envelope-info">
                <p class="info">You have spent <span>{{totalCurrent}}€</span> of <span>{{totalSet}}€</span></p>
                <button type="button" class="btn edit-btn" data-toggle="modal" href="#editForm{{id}}" role="button">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
        </div>
    {{/ifEquals}}
{{/each}}