{{#each Friend}}
<tr class="clickable" data-toggle="modal" data-target="#showGroup{{id}}">
    <td>{{Group}}</td>
    <td>{{Next}}</td>
    <td>{{Balance}}</td>
    <td>
        <form name="deleteForm{{id}}" method="post" action="/utility" style="display: inline">
            <input type="hidden" value="deleteFriendGroup" name="formType">
            <input type="hidden" value="{{id}}" name="id">
            <button type="submit" class="btn edit-btn" data-toggle="modal"><i class="fas fa-minus-square"></i></button>
        </form>
    </td>
</tr>
{{/each}}