<main>
    {{> welcome}}

    <!--{{> card}}-->

    <div class="container" id="cards-section">
      <div class="row">
          {{> card}}
      </div>
    </div>

    <div class="container" id="cards-section">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>All bills</h3>

            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <!-- Search form -->
                <input class="form-control search" id="search" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <!--Modal form2-->
                            <!--- Modal Form Edit --->
        {{#each bill}}
                            <div class="modal fade" id="editForm{{_id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                                <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
                                    <div class="w-25 toastek">
                                        <div class="toast ml-auto tt3" role="alert" data-delay="3000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input may only contain letters, numbers and some special characters (_@./#&+-). Length allowed: 1-20
                                            </div>
                                        </div>
                                        <div class="toast ml-auto tt4" role="alert" data-delay="1000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input may only contain decimal numbers separated by . with max 2 decimal places.
                                            </div>
                                        </div>
                                        <div class="toast ml-auto" id="date-hintEdit{{id}}" role="alert" data-delay="1000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input a valid date (today or in the future).
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form name="editBill" method="post" action="/bills" onsubmit="return disableButton2({{_id}})">
                                            <input type="hidden" value="editBill" name="formType"/>
                                            <input type="hidden" value="{{_id}}" name="billId"/>
                                            <div class="modal-body">
                                                <div class="ena">
                                                    <label for="Category">Category</label><br>
                                                    <select id="inputCategory{{_id}}" name="inputCategory" class="form-control">
                                                        <option selected>{{category}}</option>
                                                        {{#each ../categories}}
                                                                <option id="{{_id}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="ena">
                                                    <label for="Payee">Payee</label><br>
                                                    <input type="text" id="Payee2{{id}}" name="Payee2" onfocusout="check2(this)" class="form-control" value="{{recipient}}" required="required">
                                                    <div id="alarm{{_id}}"></div>
                                                </div>
                                                
                                                <div class="ena">
                                                    <label for="Amount">Amount</label><br>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">€</span>
                                                        </div>
                                                        <input type="number" id="Amount2{{_id}}"  onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" name="Amount2" onfocusout="amount2(this)" class="form-control" value="{{value}}" step="any" required="required"> 
                                                    </div>
                                                    <div id="amm{{_id}}"></div>
                                                </div>
                                                <div class="ena">
                                                    <label for="date">Date due</label><br>
                                                     <input class="form-control" type="date" value="{{year}}-{{month}}-{{day}}" id="inputDate{{id}}" name="inputDate" onfocusout="dateCheckEditBill(this,'{{id}}')" required="required">
                                                </div>
                                                <div class="ena">
                                                    <b>How often?</b><br>
                                                    <input type="radio" name="radio" value="once" required {{#ifEquals repeat "once"}}checked{{/ifEquals}}>
                                                    <label for="once">Once</label><br>
                                                    <input type="radio" name="radio" value="monthly" {{#ifEquals repeat "monthly"}}checked{{/ifEquals}}>
                                                    <label for="monthly">Monthly</label><br>
                                                    <input type="radio" name="radio" value="yearly" {{#ifEquals repeat "yearly"}}checked{{/ifEquals}}>
                                                    <label for="yearly">Yearly</label><br>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" onclick="disableButton2({{_id}})" class="btn btn-primary">Save Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                            <!--Modal form 1-->
                            <div class="modal fade " id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                                <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
                                    <div class="w-25 toastek">
                                        <div class="toast ml-auto tt1" role="alert" data-delay="3000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input may only contain letters, numbers and some special characters (_@./#&+-). Length allowed: 1-20
                                            </div>
                                        </div>
                                        <div class="toast ml-auto tt2" role="alert" data-delay="1000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input may only contain decimal numbers separated by . with max 2 decimal places.
                                            </div>
                                        </div> 
                                        <div class="toast ml-auto" id="date-hintAdd" role="alert" data-delay="1000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input a valid date (today or in the future).
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form name="signup" method="post" onsubmit="return disableButton()">
                                        <input type="hidden" name="formType" value="addBill">
                                        <div class="modal-body">
                                            <div class="ena"><label for="inputGoal">Category</label></br>
                                                <select id="inputCategory" name="inputCategory" class="form-control" required>
                                                    <option value="" selected disabled>Select Category</option>
                                                    {{#each categories}}
                                                    <option id="{{_id}}" value="{{_id}}" name="category">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="checker">
                                                <label for="Payee">Payee</label><br>
                                                <input type="text" id="Payee" name="Payee" class="form-control" onfocusout="check(this)" placeholder="e.g. Elektro Ljubljana d.d." required="required">
                                            </div>
                                            <div id="alerts"></div>
                                            <div class="ena">
                                                <label for="Amount">Amount</label><br>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">€</span>
                                                    </div>
                                                    <input type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" class="form-control" onfocusout="amount(this)" id="Amount" name="Amount" placeholder="e.g. 15" step="any" required="required"> 
                                                </div>    
                                                <div id="amm"></div>
                                            </div>
                                            <div class="ena">
                                                <label for="date">Date due</label><br>
                                                <input class="form-control" type="date" placeholder="2020-01-01" id="inputDateAddBill" name="inputDateAddBill" onfocusout="dateCheckAddBill(this);" required="required">
                                            </div>
                                            <div class="ena">
                                                <label for="once">How often?</label><br>
                                                <input type="radio" id="once" name="rad" value="once" required>
                                                <label for="once">Once</label><br>
                                                <input type="radio" id="monthly" name="rad" value="monthly">
                                                <label for="monthly">Monthly</label><br>
                                                <input type="radio" id="yearly" name="rad" value="yearly">
                                                <label for="yearly">Yearly</label><br>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" onclick="disableButton()" class="btn btn-primary">Add Bill</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                             

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive">
                    <table class="table" id="table">
                        <thead class="headertop"> 
                        </thead>
                        </div>
                    <tbody>

                    {{> billsTableElement}}                 

                </table>
            </div>
            <button data-toggle="modal" href="#modalForm" role="button" aria-expanded="false" aria-controls="about" class="btn btn-primary addbill">Add bill
            <i class="fas fa-plus-square"></i>
            </button></br>
        </div>
    </div>
    </div>
</main>