<main>

    {{> welcome}}

    <!--{{> card}}-->

    <div class="container" id="cards-section">
      <div class="row">
          {{> card}}
      </div>
    </div>

    <div class="container" id="cards-section">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>All bills</h3>

            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <!-- Search form -->
                <input class="form-control search" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="headertop">
                            <!--Modal form 1-->
                            <div class="modal fade " id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                                <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
                                    <div class="w-25">
                                        <div class="toast ml-auto tt1" role="alert" data-delay="3000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input may only contain letters and numbers. Length: 1-20.
                                            </div>
                                        </div>
                                        <div class="toast ml-auto tt2" role="alert" data-delay="1000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input may only contain decimal numbers separated by . or , with max 2 decimal places.
                                            </div>
                                        </div> 
                                        <div class="toast ml-auto" id="date-hintAdd" role="alert" data-delay="1000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input a valid date (today or in the future).
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form name="signup" method="post" action="/" onsubmit="return disableButton()">
                                        <div class="modal-body">
                                            <div class="ena"><label for="inputGoal">Category</label></br>
                                                <select id="inputCategory" class="form-control">
                                                    <option selected disabled>Select Category</option>
                                                    {{#each categories}}
                                                    <option id="category{{id}}" name="category">{{category}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="checker">
                                                <label for="Payee">Payee</label><br>
                                                <input type="text" id="Payee" name="Payee" class="form-control" onfocusout="check(this)" placeholder="e.g. Elektro Ljubljana d.d." required="required">
                                            </div>
                                            <div id="alerts"></div>
                                            <div class="ena">
                                                <label for="Amount">Amount</label><br>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">€</span>
                                                    </div>
                                                    <input type="number" class="form-control" onfocusout="amount(this)" id="Amount" name="Amount" placeholder="e.g. 15" step="any" required="required"> 
                                                </div>    
                                                <div id="amm"></div>
                                            </div>
                                            <div class="ena">
                                                <label for="date">Date due</label><br>
                                                <input class="form-control" type="date" placeholder="2020-01-01" id="inputDateAddBill" name="inputDateAddBill" onfocusout="dateCheckAddBill(this);" required="required">
                                            </div>
                                            <div class="ena">
                                                <label for="once">How often?</label><br>
                                                <input type="radio" id="once" name="rad" value="once">
                                                <label for="once">Once</label><br>
                                                <input type="radio" id="monthly" name="rad" value="monthly">
                                                <label for="monthly">Monthly</label><br>
                                                <input type="radio" id="yearly" name="rad" value="yearly">
                                                <label for="yearly">Yearly</label><br>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" onclick="disableButton()" class="btn btn-primary">Add Bill</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--Modal form2-->
                            <!--- Modal Form Edit --->

                            {{#each bill}}
                            <div class="modal fade" id="editForm{{id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                                <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
                                    <div class="w-25">
                                        <div class="toast ml-auto tt3" role="alert" data-delay="3000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input may only contain letters and numbers. Length: 1-20.
                                            </div>
                                        </div>
                                        <div class="toast ml-auto tt4" role="alert" data-delay="1000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input may only contain decimal numbers separated by . or , with max 2 decimal places.
                                            </div>
                                        </div>
                                        <div class="toast ml-auto" id="date-hintEdit" role="alert" data-delay="1000" data-autohide="false">
                                            <div class="toast-header">
                                                <strong class="mr-auto text-primary">HINT</strong>
                                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                Input a valid date (today or in the future).
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form name="signup" method="post" action="/" onsubmit="return disableButton2()">
                                            <div class="modal-body">
                                                <div class="ena">
                                                    <label for="Category">Category</label><br>
                                                    <select id="inputCategory" class="form-control">
                                                        <option selected>{{category}}</option>
                                                        {{#each ../categories}}
                                                            {{#ifNotEquals ../category category}}
                                                                <option id="category{{id}}">{{category}}</option>
                                                            {{/ifNotEquals}}
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="ena">
                                                    <label for="Payee">Payee</label><br>
                                                    <input type="text" id="Payee2" onfocusout="check2(this,{{id}})" class="form-control" value={{recipient}} required="required">
                                                    <div id="alarm{{id}}"></div>
                                                </div>
                                                
                                                <div class="ena">
                                                    <label for="Amount">Amount</label><br>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">€</span>
                                                        </div>
                                                        <input type="number" id="Amount2" onfocusout="amount2(this,{{id}})" class="form-control" value="{{value}}" step="any"required="required"> 
                                                    </div>
                                                    <div id="amm{{id}}"></div>
                                                </div>
                                                <div class="ena">
                                                    <label for="date">Date due</label><br>
                                                     <input class="form-control" type="date" placeholder="{{year}}-{{month}}-{{day}}" id="inputDate" onfocusout="dateCheckEditBill(this, {{id}});" required="required">
                                                </div>
                                                <div class="ena">
                                                    <b>How often?</b><br>
                                                    <input type="radio" name="radio" id="once" value="once"required="required">
                                                    <label for="once">Once</label><br>
                                                    <input type="radio" name="radio" id="monthly" value="monthly"required="required">
                                                    <label for="monthly">Monthly</label><br>
                                                    <input type="radio" name="radio" id="yearly" value="yearly"required="required">
                                                    <label for="yearly">Yearly</label><br>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger">Delete Bill</button>
                                                <button type="submit" onclick="disableButton2()" class="btn btn-primary">Save Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </thead>
                        </div>
                    <tbody>
                    
                    
                    {{> billsTableElement}}                 

                </table>
            </div>
            <button data-toggle="modal" href="#modalForm" role="button" aria-expanded="false" aria-controls="about" class="btn btn-primary addbill">Add bill
            <i class="fas fa-plus-square"></i>
            </button></br>
        </div>
    </div>
    </div>
</main>