<main>
    <!---- Main Section ---->

    <!----- Welcome section ----->
    {{> welcome}}

    <!----- Cards section ----->
    <div class="container" id="cards-section">
        <div class="row">
            {{> card}}
        </div>
    </div>

    <div class="container" id="cards-section">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>{{alertSection}}</h2>
            </div>
        </div>
        {{> alert}}
    </div>

    <!----- Overview section ----->
    <div class="container" id="overview-section">
        <h2 style="text-align: left; padding-bottom: 10px;">{{overview}}</h2>
        <div class="row">
            <div class="col-xl-6 col-lg-6 left-col">

                <!----- Expense section----->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="border-bottom:1px solid rgb(204, 204, 204); padding-bottom: 20px">
                        <table class="table table-borderless table-hover tabela-balance">
                            <tbody>
                                <tr id="income-tr">
                                    <th>{{incomeRow}}</th>
                                    <td>{{incomeLastMonth}}€</td>
                                    <td style="padding: 0px; text-align: right;"><button type="button" class="btn p" data-toggle="modal" href="#changeIncome"><i class="fas fa-pencil-alt"></i></button></td>
                                </tr>
                                <tr id="expenses-tr">
                                    <th>{{expensesRow}}</th>
                                    <td>{{expensesLastMonth}}€</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th id="border-th">{{balanceRow}}</th>
                                    <td id="border-td">{{#minus income expenses}}{{/minus}}€</td>
                                    <td id="border-td"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!----- Analytics section ----->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h4 style="text-align: center; padding-top: 35px; padding-bottom: 10px;">{{analyticsField}}</h4>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 analytics-col" style="padding-bottom: 20px;">
                        <table class="table table-borderless table-hover tabela">
                            <tbody class="analytics-table">
                                {{> analytics}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!----- Graph ----->
            <div class="col-xl-6 col-lg-6" style="padding-top: 25px;">
                <canvas id="doughnut-canvas"></canvas>
            </div>
        </div>
    </div>


    <!----- Chane income modal ----->
    <div class="modal fade" id="changeIncome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25 toastek">
                <div class="toast ml-auto tt1" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain decimal numbers separated by . with max 2 decimal places.
                    </div>
                </div>
                <div class="toast ml-auto tt2" role="alert" data-delay="3000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Only numbers between 1 and 28 allowed.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog modal-dialog-centered" id="modal1" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{incomeModalTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="changeIncome"  onsubmit="return disableButton()">
                    <div class="modal-body">
                        <input type="number" id="amount" name="amount" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" class="form-control" onfocusout="amount1(this)" placeholder="{{incomeModalPlaceholderIncome}}" step="any" required="required">
                        <div id="amm"></div></br>
                        <input type="number" id="date" name="date" class="form-control" onfocusout="date1(this)" placeholder="{{incomeModalPlaceholderDate}}" required="required">
                        <div id="dat"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="disableButton()" class="btn btn-primary">{{incomeModalSaveButton}}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{incomeModalCloseButton}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
  <!-- Position it -->
</div>
</main>