<!---- Main Section ---->

<!--- Modal Form Add --->

<div class="modal fade" id="addEnvelopeForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <div class="toast ml-auto tt5" role="alert" data-delay="3000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                 Input may only contain letters, numbers and some special characters (_@./#&+-). Length allowed: 1-20
              </div>
            </div>
            <div class="toast ml-auto tt1" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain decimal numbers separated by . with max 2 decimal places.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addEnvelope" method="post" action="/envelopes" onsubmit="return disableButton2()">
                <input type="hidden" value="addEnvelope" name="formType">
                <div class="modal-body">
                    <div class="ena"><label for="categoryAddEnvelope">Category</label></br>
                        <input type="text" class="form-control" id="ime" onfocusout="nameAdd(this)" name="categoryAddEnvelope" placeholder="Entertainment">
                    </div>

                    <div class="ena"><label for="inputAmount">Amount</label></br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" name="inputAmount" onfocusout="amount(this)"id="inputAmount" placeholder="0.00" step="any">
                        </div>
                        <div id="amm"></div>
                    </div>

                    <div class="ena">
                        <label for="colorPicker">Color Picker</label></br>
                        <input type="color" id="colorPicker" name="colorPicker" value="#0000ff">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="disableButton2()" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{#each envelope}}
<div class="modal fade" id="editForm{{id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <div class="toast ml-auto tt3" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain decimal numbers separated by . with max 2 decimal places.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">  
                <h5 class="modal-title">{{category}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="signup" method="post" action="/" onsubmit="return disableButton3({{id}})">
                <div class="modal-body">
                    <div class="ena"><label for="inputAmount">Amount</label></br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="hidden" value="{{_id}}" name="id">
                            <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount3(this,{{id}})" id="inputAmount" placeholder="0.00" step="any">
                        </div>
                        <div id="vnos{{id}}"></div>
                    </div>

                    <div class="ena">
                        <label for="colorpicker">Color Picker</label></br>
                        <input type="color" id="colorpicker" value="{{colorHex}}">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="deleteEnvelope({{id}});" class="btn btn-danger">Delete</button>
                    <button type="submit" onclick="disableButton3({{id}})" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}

<div class="modal fade" id="addExpenseForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <div class="toast ml-auto tt2" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain decimal numbers separated by . with max 2 decimal places.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addExpense" method="post" action="/envelopes" onsubmit="return disableButton()">
                <input type="hidden" name="formType" value="addExpense" />
                <div class="modal-body">
                    <div class="ena"><label for="inputGoal">Category</label></br>
                        <select id="inputCategory" name="inputCategory" class="form-control">
                            {{#each envelope}}
                            <option id="category{{id}}">{{category.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="ena"><label for="inputAmount">Amount</label></br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount2(this)" id="Amount2" name="inputAmount" placeholder="0.00" step="any">
                        </div>
                        <div id="amm2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  onclick="disableButton()" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{> welcome}}


<div class="container" id="cards-section">
    <div class="row">
        {{> card}}
    </div>
</div>

<div class="container" id="main-section">
    <div class="row">
        <div class="col-3 col-sm-4 col-md-4 col-lg-5 col-xl-5 puscica-leva">
            <i class="arrow left"></i>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 mesec">
            <h4>{{currentMonth}}</h4>
        </div>
        <div class="col-3 col-sm-4 col-md-4 col-lg-5 col-xl-5 puscica-desna">
            <i class="arrow right"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="button" class="btn btn-success" style="float:left;" data-toggle="modal" href="#addExpenseForm"
                role="button" aria-expanded="false" aria-controls="about">
                Add Expense
                <i class="fas fa-plus-square"></i></button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="button" class="btn btn-primary" style="float:right;" data-toggle="modal"
                href="#addEnvelopeForm" role="button" aria-expanded="false" aria-controls="about">
                Add Envelope
                <i class="fas fa-plus-square"></i>
            </button>
        </div>
    </div>
    {{>progress-envelopes}}
</div>