<!---- Main Section ---->

<!--- Modal Form Add --->

<div class="modal fade" id="addEnvelopeForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <div class="toast ml-auto tt5" role="alert" data-delay="3000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                 Input may only contain letters, numbers and some special characters (_@./#&+-). Length allowed: 1-20
              </div>
            </div>
            <div class="toast ml-auto tt1" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain decimal numbers separated by . with max 2 decimal places.
                </div>
            </div>
            <div class="toast ml-auto tt7" id="date-hint" role="alert" data-delay="3000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Expense can't be in the future.
                    </div>
                </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addEnvelope" method="post" action="/envelopes" onsubmit="return disableButton2()">
                <input type="hidden" value="addEnvelope" name="formType">
                <input type="hidden" value="{{setMonthNumber}}" name="setMonth">
                <div class="modal-body">
                    <div class="ena">
                        <label for="chooseCategoryEnvelope">Category</label>
                        <select id="inputCategory" name="chooseCategoryEnvelope" class="form-control" onchange="checkCategory(this)" required>
                            <option value="" selected>Choose a category</option>
                            {{#each category}}
                            <option value="{{name}}" id="category{{_id}}">{{name}}</option>
                            {{/each}}
                            <option value="other">Make your own</option>
                        </select>
                   
                        <label for="categoryAddEnvelope"></label>
                        <input type="text" class="form-control" id="ime" onfocusout="nameAdd(this)" name="categoryAddEnvelope" placeholder="Or create your own" style="display:none" disabled>
                    </div>

                    <div class="ena"><label for="inputAmount">Amount</label></br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" name="inputAmount" onfocusout="amount(this)"id="inputAmount" placeholder="0.00" step="any">
                        </div>
                        <div id="amm"></div>
                    </div>

                    <div class="ena">
                        <label id="colorPickerLabel" for="colorPicker" style="display:none" >Color Picker</label></br>
                        <input type="color" id="colorPicker" name="colorPicker"  style="display:none" disabled>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="disableButton2()" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#each envelope}}
<div class="modal fade" id="editForm{{_id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <div class="toast ml-auto tt3" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain decimal numbers separated by . with max 2 decimal places.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">  
                <h5 class="modal-title">{{category.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--- ADD FORM --->
            <form name="addEnvelope" method="post" action="/envelopes" onsubmit="return disableButton3({{id}})">
                <div class="modal-body">
                    <div class="ena"><label for="inputAmount">New Budget</label></br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="hidden" value="{{_id}}" name="id">
                            <input type="hidden" name="formType" value="editEnvelope" />
                            <input type="number" name="inputAmount" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount3(this,{{id}})" id="inputAmount" placeholder="0.00" step="any">
                        </div>
                        <div id="vnos{{_id}}"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="disableButton3({{id}})" class="btn btn-primary">Add</button>
                </div>
            </form>
            <!--- DELETE FORM --->
        </div>
    </div>
</div>
{{/each}}

<div class="modal fade" id="addExpenseForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <div class="toast ml-auto tt2" role="alert" data-delay="3000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain letters, numbers and some special characters (_@./#&+-). Length allowed: 1-20
                </div>
            </div>
            <div class="toast ml-auto tt3" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain decimal numbers separated by . or , with max 2 decimal places.
                </div>
            </div> 
            <div class="toast ml-auto tt4" id="date-hint" role="alert" data-delay="3000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Expense can't be in the future.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addExpense" method="post" action="/envelopes" onsubmit="return disableButton()">
                <input type="hidden" name="formType" value="addExpense" />
                <div class="modal-body">
                    <div class="ena"><label for="inputGoal">Category</label></br>
                        <select id="inputCategory" name="inputCategory" class="form-control">
                            <option selected>Choose a category</option>
                            {{#each category}}
                            <option id="category{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="ena">
                        <label for="Payee">Recipient</label><br>
                        <input type="text" id="Payee25" name="recipient" class="form-control" placeholder="e.g. Elektro Ljubljana d.d." onfocusout="nameAdd2(this)" value="{{recipient}}"required="required">
                        <div id="{{id}}txt"></div>
                    </div>
                    <div class="ena"><label for="inputAmount">Amount</label></br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount5(this)" id="Amount2{{id}}" name="inputAmount" placeholder="0.00" step="any">
                        </div>
                    </div>
                    <div class="ena">
                        <label for="datum">Date</label><br>
                        <input type="date" id="inputDate15" name="date" onfocusout="dateCheck2(this)"class="form-control" value="{{year}}-{{month}}-{{day}}"required="required">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  onclick="disableButton()" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{> welcome}}


<div class="container" id="cards-section">
    <div class="row">
        {{> card}}
        <div id="envelopeSectionTag"></div>
    </div>
    
</div>

<div class="container" id="main-section">
    <div class="row">
        <div class="col-3 col-sm-4 col-md-4 col-lg-5 col-xl-5 puscica-leva">
            <form action="/envelopes" method="GET">
            <input type="hidden" name="monthMinus" value="{{setMonthNumber}}"/> 
            <button class="arrowButton" type="submit"><i class="arrow left"></i></button>
            </form>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 mesec">
            <h4>{{setMonth}}</h4>
        </div>
        <div class="col-3 col-sm-4 col-md-4 col-lg-5 col-xl-5 puscica-desna">
            <form action="/envelopes" method="GET">
            <input type="hidden" name="monthPlus" value="{{setMonthNumber}}"/> 
            <button class="arrowButton" type="submit"><i  class="arrow right"></i></button>
            </form>
            
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="button" class="btn btn-success" style="float:left;" data-toggle="modal" href="#addExpenseForm"
                role="button" aria-expanded="false" aria-controls="about">
                Add Expense
                <i class="fas fa-plus-square"></i></button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type="button" class="btn btn-primary" style="float:right;" data-toggle="modal" href="#addEnvelopeForm" role="button" aria-expanded="false" aria-controls="about">
                Add Envelope
                <i class="fas fa-plus-square"></i>
            </button>
        </div>
    </div>
    {{>progress-envelopes}}
</div>