<!---- Add Goal Form ---->

<div class="modal fade" id="addGoalForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
      <div class="w-25">
        <div class="toast ml-auto tt4" role="alert" data-delay="3000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                 Input may only contain letters, numbers and some special characters (_@./#&+-). Length allowed: 1-20
              </div>
          </div>
          <div class="toast ml-auto tt3" role="alert" data-delay="1000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                  Input may only contain decimal numbers separated by . or , with max 2 decimal places.
              </div>
          </div>
          <div class="toast ml-auto" id="date-hintAdd" role="alert" data-delay="1000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                  Input a valid date (today or in the future).
              </div>
          </div>  
      </div>
  </div>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="signup" method="post" action="/" onsubmit="return disableButton()">
        <div class="modal-body">
          <label for="inputGoal">What's your goal?</label>
          <input type="text" class="form-control" id="Goal" onfocusout="nameAdd(this)" placeholder="e.g. new car" required="required">
          <div id="txt1"></div>
          <label for="inputCategory">Choose a Category</label>
          <select id="inputCategory" class="form-control" required="required">
            <option selected disabled>Select Category</option>
            {{#each categories}}
            <option id="category{{id}}">{{category}}</option>
            {{/each}}
          </select>

          </br>

          <label for="inputAmount">How much do you want to save?</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" onfocusout="amount(this)" id="Amount" placeholder="e.g. 1500" step="any" required="required">
            <div id="amm"></div>
          </div>

          <label for="inputDate">Planned Date</label>
          <input class="form-control" type="date" placeholder="2020-01-01" id="inputDateAddGoal" onfocusout="dateCheckAddGoal(this);" required="required">


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add Goal</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--- Modal Form Edit --->

{{#each goal}}
<div class="modal fade" id="editForm{{id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
      <div class="w-25">
        <div class="toast ml-auto tt5" role="alert" data-delay="3000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                 Input may only contain letters, numbers and some special characters (_@./#&+-). Length allowed: 1-20
              </div>
          </div>
          <div class="toast ml-auto tt6" role="alert" data-delay="1000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                  Input may only contain decimal numbers separated by . or , with max 2 decimal places.
              </div>
          </div> 
          <div class="toast ml-auto" id="date-hint" role="alert" data-delay="1000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                  Input a valid date (today or in the future).
              </div>
          </div> 
      </div>

      
  </div>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="signup" method="post" action="/" onsubmit="return disableButton2({{id}})">
        <div class="modal-body">
          <label for="inputGoal">What's your goal?</label>
          <input type="text" class="form-control" onfocusout="nameAdd2(this,{{id}})" id="Goal3" value="{{title}}"required="required"> 
          <div id="{{id}}txt"></div>

          <label for="inputCategory">Choose a Category</label>
          <select id="inputCategory" class="form-control" required="required">
            {{#each ../categories}}
            <option id="category{{id}}">{{category}}</option>
            {{/each}}
          </select>

          </br>

          <label for="inputAmount">How much do you want to save?</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" onfocusout="amount3(this,{{id}})" id="Amount3" value="{{target}}" step="any"required="required"> 
            <div id="{{id}}amm"></div>
          </div>
          <input class="form-control" type="date" placeholder="{{year}}-{{month}}-{{day}}" id="inputDate" onfocusout="dateCheck(this, {{id}});" required="required">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" onClick="removeGoal({{id}});">Delete Goal</button>
          <button type="submit" onclick="disableButton2({{id}})" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--- Modal Form Add Money --->
<div class="modal fade" id="addMoneyForm{{id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
      <div class="w-25">
          <div class="toast ml-auto tt2" role="alert" data-delay="1000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                  Input may only contain decimal numbers separated by . or , with max 2 decimal places.
              </div>
          </div>
      </div>
  </div>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="signup" method="post" action="/" onsubmit="return disableButton3({{id}})">
        <div class="modal-body">
          <label for="inputAmount">How much money do you want to add?</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span id="currency{{id}}" class="input-group-text currencyDisplay">€</span>
            </div>
            <input type="number" class="form-control" onfocusout="amount2(this,{{id}})" id="Amount2" placeholder="0.00" step ="any" required="required">
            <div id="amm{{id}}"></div>
          </div>
          <label for="inputAmount">Your Currency</label>
          <select id="currencySelect{{id}}" class="form-control currencySelector" required="required">
            <option selected="selected">€</option>
            <option>$</option>
            <option>£</option>
            <option>¥</option>
            <option>₹</option>
            <option>₽</option>
            <option>kn</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" onclick="disableButton3()" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/each}}


<!----- WELCOME SECTION ----->

{{> welcome}}

<!----- CARDS SECTION ----->
<div class="container" id="cards-section">
  <div class="row">
    {{> card}}
  </div>
</div>

<!----- GOALS SECTION ----->

<div class="container" id="goals-section">
  <div class="row" style="padding-bottom:3vh;">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 goal-col">
      <button type="button" class="btn btn-primary" style="float:right;" data-toggle="modal" href="#addGoalForm"
        role="button" aria-expanded="false" aria-controls="about">
        Add Goal
        <i class="fas fa-plus-square"></i>

      </button>
    </div>
  </div>
  {{>progress-bar}}
</div>