<body>
    <!--- WELCOME SECTION --->
    {{> welcome}}

    <div class="container" id="cards-section">
        <div class="row" style="margin-bottom: 3%;">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <!--button type="button" class="btn btn-primary">Date</button-->
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <input class="form-control shadow p-3 mb-5 rounded" id="daterangepicker" type="text" name="daterange" value="01/01/2020 - 31/12/2020" readonly/>
                    </div>

                    <div class="col-3 col-sm-3 col-md-5 col-lg-3 col-xl-3"></div>

                    <div class="col-3 col-sm-3 col-md-3 col-lg-6 col-xl-6">
                        <button class="btn btn-primary dropdown-toggle" style="float:right;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox1" checked>
                                    <label class="custom-control-label" for="checkbox1">Gas</label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox2" checked>
                                    <label class="custom-control-label" for="checkbox2">Phone</label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox3" checked>
                                    <label class="custom-control-label" for="checkbox3">Groceries</label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox3" checked>
                                    <label class="custom-control-label" for="checkbox3">Entertainment</label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox3" checked>
                                    <label class="custom-control-label" for="checkbox3">Eating out</label>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 goal-col">
                <canvas id="doughnut-canvas"></canvas>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 goal-col">
                <canvas id="line-canvas"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 totaltext">
                <h5>Total spent: {{totalExpenses}}€</h5>
            </div>
        </div>
    </div>

    <div class="container" id="cards-section">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>All expenses</h3>

            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <!-- Search form -->
                <input class="form-control search" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive" data-aos="fade-up" data-aos-duration="500">
                    <table class="table" id="expeseTable">
                        <tbody>
                            {{#each expenses}}
                                <tr>
                                <td class="date align-middle" id="date{{id}}">
                                    <div class="text-muted" id="year{{id}}">{{year}}</div>
                                    <div class="text-muted font-weight-bold" id="month{{id}}">{{monthName}}</div>
                                    <div class="text-muted font-weight-bold" id="day{{id}}">{{day}}</div>
                                </td>
                                <td class="align-middle" id="category{{id}}">{{category}}</td>
                                <td class="align-middle" id="receiver{{id}}">{{receiver}}</td>
                                <td class="cena align-middle" id="value{{id}}">
                                    <span id="currency{{id}}">{{currency}}</span><span id="price{{id}}">{{value}}</span>
                                </td>
                                <td class="zadnji align-middle">
                                    <button type="button" class="btn p" data-toggle="modal" href="#editForm{{id}}"><i class="fas fa-pencil-alt"></i></button>
                                </td>

                                <div class="modal fade" id="editForm{{id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="ena">
                                                    <label for="Category">Category</label><br>
                                                    <input type="text" id="Category" class="form-control" placeholder="e.g. Rent" value="{{category}}">
                                                </div>
                                                <div class="ena">
                                                    <label for="Payee">Payee</label><br>
                                                    <input type="text" id="Payee" class="form-control" placeholder="e.g. Elektro Ljubljana d.d." value="{{receiver}}">
                                                </div>
                                                <div class="ena">
                                                    <label for="Amount">Amount</label><br>
                                                    <input type="number" id="Amount" class="form-control" placeholder="e.g. $150.30" value="{{value}}">
                                                </div>
                                                <div class="ena">
                                                    <label for="datum">Date</label><br>
                                                    <input type="date" class="form-control" value="{{year}}-{{month}}-{{day}}">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger">Delete expense</button>
                                                <button type="button" class="btn btn-primary">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            {{/each}}
                            <!-- /.Table body -->
                    </table>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <form method="POST" action="/pdf" id="pdf">
                            {{#each expenses}}
                            <input type="hidden" name="date{{id}}" value="{{year}}-{{month}}-{{day}}"/>
                            <input type="hidden" name="category{{id}}" value="{{category}}"/>
                            <input type="hidden" name="receiver{{id}}" value="{{receiver}}"/>
                            <input type="hidden" name="value{{id}}" value="{{value}}"/>
                            <input type="hidden" name="currency{{id}}" value="{{currency}}"/>
                            {{/each}}
                            <a type="button" class="btn btn-primary" href="javascript:;" onclick="document.getElementById('pdf').submit()">Export to PDF <i class="far fa-file-pdf"></i></a>
                        </form>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <button data-toggle="modal" href="#modalAddExpense" role="button" aria-expanded="false" aria-controls="about" class="btn btn-primary addbill">Add expense
                      <i class="fas fa-plus-square"></i>
                      </button>
                    </div>
                </div>

                <div class="modal fade " id="modalAddExpense" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="ena"><label for="inputGoal">Category</label></br>
                                                <select id="inputCategory" class="form-control">
                                                    <option selected disabled>Select Category</option>
                                                    {{#each categories}}
                                                    <option id="category{{id}}">{{category}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="checker">
                                                <label for="Payee">Location</label><br>
                                                <input type="text" id="PayeeModal" class="form-control" onfocusout="check(this)" placeholder="e.g. Mercator">
                                            </div>
                                            <div id="alerts"></div>
                                            <div class="ena">
                                                <label for="Amount">Amount</label><br>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">€</span>
                                                    </div>
                                                    <input type="number" class="form-control" onfocusout="amount(this)" id="amount" placeholder="e.g. 15">
                                                </div>    
                                                <div id="amm"></div>
                                            </div>
                                            <div class="ena">
                                                <label for="date">Date</label><br>
                                                <input type="date" class="form-control" value="2020-11-01">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Add Expense</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
    </div>
</body>