    {{> welcome}}

    <div class="container" id="cards-section">
      <div class="row" style="margin-bottom: 2vh; padding-left: 15px;">
        <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
          <h2>Friend groups</h2> 
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <button type="button" class="btn btn-primary" id="createGroup" data-toggle="modal" href="#addGroupModal" style="text-align: right;">Create</button>
        </div>
      </div>
      <div class="row" style="padding-left: 25px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Next to pay</th>
              <th scope="col">Balance</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{> utilityTableElement}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="container" id="converter">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h2>Currency converter</h2> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-0 col-sm-0 col-xl-3 col-lg-0"></div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <label for="curr1">From</label>
          <select class="form-control curr1" id="curr1">
            <option value="EUR" selected="selected" label="Euro">EUR</option>
            <option value="USD" label="US dollar">USD</option>
            <option value="JPY" label="Japanese yen">JPY</option>
            <option value="GBP" label="British Pound sterling">GBP</option>
            <option value="HRK" label="Croatian kuna">HRK</option>
            <option disabled>──────────</option>
            <option value="AUD" label="Australian dollar">AUD</option>
            <option value="BGN" label="Bulgarian lev">BGN</option>
            <option value="BRL" label="Brazilian real">BRL</option>
            <option value="CAD" label="Canadian dollar">CAD</option>
            <option value="CHF" label="Swiss franc">CHF</option>
            <option value="CNY" label="Chinese yuan">CNY</option>
            <option value="CZK" label="Czech koruna">CZK</option>
            <option value="EUR" label="EURO">EUR</option>
            <option value="GBP" label="British pound">GBP</option>
            <option value="HKD" label="Hong Kong dollar">HKD</option>
            <option value="HRK" label="Croatian kuna">HRK</option>
            <option value="HUF" label="Hungarian forint">HUF</option>
            <option value="ILS" label="Israeli new shekel">ILS</option>
            <option value="INR" label="Indian rupee">INR</option>
            <option value="ISK" label="Icelandic króna">ISK</option>
            <option value="JPY" label="Japanese yen">JPY</option>
            <option value="KRW" label="South Korean won">KRW</option>
            <option value="MXN" label="Mexican peso">MXN</option>
            <option value="MYR" label="Malaysian ringgit">MYR</option>
            <option value="NOK" label="Norwegian krone">NOK</option>
            <option value="NZD" label="New Zealand dollar">NZD</option>
            <option value="PHP" label="Philippine peso">PHP</option>
            <option value="PLN" label="Polish złoty">PLN</option>
            <option value="RON" label="Romanian leu">RON</option>
            <option value="RUB" label="Russian ruble">RUB</option>
            <option value="SEK" label="Swedish krona">SEK</option>
            <option value="SGD" label="Singapore dollar">SGD</option>
            <option value="THB" label="Thai baht">THB</option>
            <option value="TRY" label="Turkish lira">TRY</option>
            <option value="USD" label="United States dollar">USD</option>
          </select>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <label for="curr2">To</label>
          <select class="form-control curr2" id="curr2">
            <option value="EUR" label="Euro">EUR</option>
            <option value="USD" selected="selected" label="US dollar">USD</option>
            <option value="JPY" label="Japanese yen">JPY</option>
            <option value="GBP" label="British Pound sterling">GBP</option>
            <option value="HRK" label="Croatian kuna">HRK</option>
            <option disabled>──────────</option>
            <option value="AUD" label="Australian dollar">AUD</option>
            <option value="BGN" label="Bulgarian lev">BGN</option>
            <option value="BRL" label="Brazilian real">BRL</option>
            <option value="CAD" label="Canadian dollar">CAD</option>
            <option value="CHF" label="Swiss franc">CHF</option>
            <option value="CNY" label="Chinese yuan">CNY</option>
            <option value="CZK" label="Czech koruna">CZK</option>
            <option value="EUR" label="EURO">EUR</option>
            <option value="GBP" label="British pound">GBP</option>
            <option value="HKD" label="Hong Kong dollar">HKD</option>
            <option value="HRK" label="Croatian kuna">HRK</option>
            <option value="HUF" label="Hungarian forint">HUF</option>
            <option value="ILS" label="Israeli new shekel">ILS</option>
            <option value="INR" label="Indian rupee">INR</option>
            <option value="ISK" label="Icelandic króna">ISK</option>
            <option value="JPY" label="Japanese yen">JPY</option>
            <option value="KRW" label="South Korean won">KRW</option>
            <option value="MXN" label="Mexican peso">MXN</option>
            <option value="MYR" label="Malaysian ringgit">MYR</option>
            <option value="NOK" label="Norwegian krone">NOK</option>
            <option value="NZD" label="New Zealand dollar">NZD</option>
            <option value="PHP" label="Philippine peso">PHP</option>
            <option value="PLN" label="Polish złoty">PLN</option>
            <option value="RON" label="Romanian leu">RON</option>
            <option value="RUB" label="Russian ruble">RUB</option>
            <option value="SEK" label="Swedish krona">SEK</option>
            <option value="SGD" label="Singapore dollar">SGD</option>
            <option value="THB" label="Thai baht">THB</option>
            <option value="TRY" label="Turkish lira">TRY</option>
            <option value="USD" label="United States dollar">USD</option>
          </select>
        </div>
        <div class="col-md-0 col-sm-0 col-xl-3 col-lg-0"></div>
      </div>
      <form name="currencyConverter" method="get">
        <div class="row">
          <div class="col-md-0 col-sm-0 col-xl-3 col-lg-0"></div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <input type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" id="Amount" class="form-control" placeholder="Amount to convert">
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <output type="number" id="Amount2" class="form-control" placeholder="Amount converted">
          </div>
          <div class="col-md-0 col-sm-0 col-xl-3 col-lg-0"></div>
        </div>
        <div class="row3">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button type="button" class="btn btn-primary" id="convert" onclick="convertCurrency();">Convert</button>
          </div>
        </div>
      </form>
    </div>

    <!-- showGroup -->
    {{#each Friend}}
      <div class="modal fade" id="showGroup{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
          <div class="w-25 toastek">
              <div class="toast ml-auto tt1" role="alert" data-delay="1000" data-autohide="false">
                  <div class="toast-header">
                      <strong class="mr-auto text-primary">HINT</strong>
                      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="toast-body">
                      Input may only contain decimal numbers separated by . with max 2 decimal places.
                  </div>
              </div> 
          </div>
        </div>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Group Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form name="signup" method="post" action="/" onsubmit="return disableButton({{id}})">
              <div class="modal-body">
                <div class="row">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Paid</th>
                        <th scope="col">Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each groupMember}}
                        <tr>
                          <td>{{name}}</td>
                          <td><input type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" id="price{{id}}" class="form-control" onfocusout="check(this,{{id}})" placeholder="Bill amount" step="any" required="required"></td>
                          <td><input type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" id="paid{{id}}" class="form-control" onfocusout="check(this,{{id}})" placeholder="Money paid"step="any" required="required"></td>
                          <td>{{amount}}</td>
                        </tr>
                        <div id="amm"></div>
                        <div id="bmm"></div>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" onclick="disableButton({{id}})"class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {{/each}}

    <!--- Create Group Modal --->

    <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <div class="toast ml-auto tt5" role="alert" data-delay="3000" data-autohide="false">
              <div class="toast-header">
                  <strong class="mr-auto text-primary">HINT</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="toast-body">
                 Input may only contain letters, numbers, some special characters (_@./#&+-: ) and whitespaces. Length allowed: 1-20
              </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addGroup" method="post" action="/utility" onsubmit="return disableButton2()">
                <input type="hidden" value="addGroup" name="formType">
                <input type="hidden" value="2" name="counter" id="counter">
                <div class="modal-body" id="inputMemberBody">  
                  <label for="inputGroupName">Input group name</label>
                  <input type="text" class="form-control" placeholder="Group Name" name="inputGroupName"></br>
                  <label for="inputGroupName">Add Members</label>
                  <input type="text" class="form-control" placeholder="Member 1" name="inputMember1" id="inputMember1" style="margin-top:1%">
                  <input type="text" class="form-control" placeholder="Member 2" name="inputMember2" id="inputMember2" style="margin-top:4%">
                  
                 
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="disableButton2()" class="btn btn-primary">Add Group</button>
                     <button type="button" id="addGroupMember" class="btn btn-primary" onclick="addNewInput();"> 
                        <i class="fas fa-plus-square"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>