    {{> welcome}}

    <div class="container" id="cards-section">
      <div class="row" style="margin-bottom: 2vh; padding-left: 15px;">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h2>Friend groups</h2> 
        </div>
      </div>
      <div class="row" style="padding-left: 25px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Next to pay</th>
              <th scope="col">Balance</th>
            </tr>
          </thead>
          <tbody>
            {{> utilityTableElement}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="container" id="converter">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h2>Currency converter</h2> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-0 col-sm-0 col-xl-3 col-lg-0"></div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <label for="curr1">From</label>

          <select class="form-control curr1" id="exampleFormControlSelect1">
            <option value="EUR" label="Euro">EUR</option>
            <option value="USD" selected="selected" label="US dollar">USD</option>
            <option value="JPY" label="Japanese yen">JPY</option>
            <option value="GBP" label="British Pound sterling">GBP</option>
            <option value="HRK" label="Croatian kuna">HRK</option>
            <option disabled>──────────</option>
            <option value="ALL" label="Albanian lek">ALL</option>
            <option value="AUD" label="Australian dollar">AUD</option>
            <option value="BAM" label="Bosnia and Herzegovina convertible mark">BAM</option>
            <option value="BGN" label="Bulgarian lev">BGN</option>
            <option value="BOB" label="Bolivian boliviano">BOB</option>
            <option value="BRL" label="Brazilian real">BRL</option>
            <option value="BYN" label="Belarusian ruble">BYN</option>
            <option value="CAD" label="Canadian dollar">CAD</option>
            <option value="CHF" label="Swiss franc">CHF</option>
            <option value="CNY" label="Chinese yuan">CNY</option>
            <option value="CZK" label="Czech koruna">CZK</option>
            <option value="EUR" label="EURO">EUR</option>
            <option value="GBP" label="British pound">GBP</option>
            <option value="HKD" label="Hong Kong dollar">HKD</option>
            <option value="HRK" label="Croatian kuna">HRK</option>
            <option value="HUF" label="Hungarian forint">HUF</option>
            <option value="ILS" label="Israeli new shekel">ILS</option>
            <option value="INR" label="Indian rupee">INR</option>
            <option value="IQD" label="Iraqi dinar">IQD</option>
            <option value="IRR" label="Iranian rial">IRR</option>
            <option value="ISK" label="Icelandic króna">ISK</option>
            <option value="JPY" label="Japanese yen">JPY</option>
            <option value="KPW" label="North Korean won">KPW</option>
            <option value="KRW" label="South Korean won">KRW</option>
            <option value="MKD" label="Macedonian denar">MKD</option>
            <option value="MXN" label="Mexican peso">MXN</option>
            <option value="NOK" label="Norwegian krone">NOK</option>
            <option value="NZD" label="New Zealand dollar">NZD</option>
            <option value="PHP" label="Philippine peso">PHP</option>
            <option value="PLN" label="Polish złoty">PLN</option>
            <option value="RON" label="Romanian leu">RON</option>
            <option value="RSD" label="Serbian dinar">RSD</option>
            <option value="RUB" label="Russian ruble">RUB</option>
            <option value="SAR" label="Saudi riyal">SAR</option>
            <option value="SEK" label="Swedish krona">SEK</option>
            <option value="SGD" label="Singapore dollar">SGD</option>
            <option value="THB" label="Thai baht">THB</option>
            <option value="TRY" label="Turkish lira">TRY</option>
            <option value="UAH" label="Ukrainian hryvnia">UAH</option>
            <option value="USD" label="United States dollar">USD</option>
          </select>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <label for="curr1">To</label>

          <select class="form-control curr2" id="exampleFormControlSelect1">
            <option value="USD" selected="selected" label="US dollar">USD</option>
            <option value="EUR" label="Euro">EUR</option>
            <option value="JPY" label="Japanese yen">JPY</option>
            <option value="GBP" label="British Pound sterling">GBP</option>
            <option value="HRK" label="Croatian kuna">HRK</option>
            <option disabled>──────────</option>
            <option value="ALL" label="Albanian lek">ALL</option>
            <option value="AUD" label="Australian dollar">AUD</option>
            <option value="BAM" label="Bosnia and Herzegovina convertible mark">BAM</option>
            <option value="BGN" label="Bulgarian lev">BGN</option>
            <option value="BOB" label="Bolivian boliviano">BOB</option>
            <option value="BRL" label="Brazilian real">BRL</option>
            <option value="BYN" label="Belarusian ruble">BYN</option>
            <option value="CAD" label="Canadian dollar">CAD</option>
            <option value="CHF" label="Swiss franc">CHF</option>
            <option value="CNY" label="Chinese yuan">CNY</option>
            <option value="CZK" label="Czech koruna">CZK</option>
            <option value="EUR" label="EURO">EUR</option>
            <option value="GBP" label="British pound">GBP</option>
            <option value="HKD" label="Hong Kong dollar">HKD</option>
            <option value="HRK" label="Croatian kuna">HRK</option>
            <option value="HUF" label="Hungarian forint">HUF</option>
            <option value="ILS" label="Israeli new shekel">ILS</option>
            <option value="INR" label="Indian rupee">INR</option>
            <option value="IQD" label="Iraqi dinar">IQD</option>
            <option value="IRR" label="Iranian rial">IRR</option>
            <option value="ISK" label="Icelandic króna">ISK</option>
            <option value="JPY" label="Japanese yen">JPY</option>
            <option value="KPW" label="North Korean won">KPW</option>
            <option value="KRW" label="South Korean won">KRW</option>
            <option value="MKD" label="Macedonian denar">MKD</option>
            <option value="MXN" label="Mexican peso">MXN</option>
            <option value="NOK" label="Norwegian krone">NOK</option>
            <option value="NZD" label="New Zealand dollar">NZD</option>
            <option value="PHP" label="Philippine peso">PHP</option>
            <option value="PLN" label="Polish złoty">PLN</option>
            <option value="RON" label="Romanian leu">RON</option>
            <option value="RSD" label="Serbian dinar">RSD</option>
            <option value="RUB" label="Russian ruble">RUB</option>
            <option value="SAR" label="Saudi riyal">SAR</option>
            <option value="SEK" label="Swedish krona">SEK</option>
            <option value="SGD" label="Singapore dollar">SGD</option>
            <option value="THB" label="Thai baht">THB</option>
            <option value="TRY" label="Turkish lira">TRY</option>
            <option value="UAH" label="Ukrainian hryvnia">UAH</option>
            <option value="USD" label="United States dollar">USD</option>
          </select>
        </div>
        <div class="col-md-0 col-sm-0 col-xl-3 col-lg-0"></div>
      </div>
      <div class="row">
        <div class="col-md-0 col-sm-0 col-xl-3 col-lg-0"></div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <input type="number" id="Amount" class="form-control" placeholder="Amount to convert">
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <output type="number" id="Amount2" class="form-control" placeholder="Amount converted">
        </div>
        <div class="col-md-0 col-sm-0 col-xl-3 col-lg-0"></div>
      </div>
      <div class="row3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <button type="button" class="btn btn-primary">Convert</button>
        </div>
      </div>
    </div>

    <!-- showGroup -->
    <div class="modal fade" id="showGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Group Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="signup" method="post" action="/" onsubmit="return disableButton({{id}})">
            <div class="modal-body">
              <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Paid</th>
                      <th scope="col">Balance</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each groupMember}}
                      <tr>
                        <td>{{name}}</td>
                        <td><input type="number" id="price{{id}}" class="form-control" onfocusout="check(this,{{id}})" placeholder="Bill amount" step="any"></td>
                        <td><input type="number" id="paid{{id}}" class="form-control" onfocusout="check(this,{{id}})" placeholder="Money paid"step="any"></td>
                        <td>{{amount}}</td>
                      </tr>
                      <div id="amm"></div>
                      <div id="bmm"></div>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" onclick="disableButton({{id}})"class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>